<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styleDesktop.css">
    <link rel="stylesheet" href="../css/styleTablet.css">
    <link rel="stylesheet" href="../css/styleMobile.css">
    <title>Welcome to {onboard}</title>
</head>
<body>
    <header>
        <h1 id="logo">&#123onboard&#125</h1>
        <a href="#moreInfoSignup"><button id="learnMore">Contact Us</button></a>
    </header>

    <section id="description">
        <div id="descriptionTextbox">
            <div id="partTime">PART-TIME PROGRAM</div>
            <div id="fullstack">Full-Stack Development <br> Bootcamp Online</div>
            <div id="live"> Live Lectures at Your Pace</div>
        </div>
        <div id="phraseOne">
            <p>Learning <br> Made <br> Easy</p>
        </div>
    </section>

    <section id="modules">
        <article>
            <h1>Module 1</h1>
            <h4> Introduction to Web Development</h4>
            <div id="subjects">
                <p>HTML</p>
                <p>CSS</p>
                <p>JS</p>
            </div>
        </article>
        <article>
            <h1>Module 2</h1>
            <h4> Front-End <br> Development</h4>
            <div id="subjects">
                <p>React</p>
                <p>Redux</p>
                <p>API</p>
            </div>
        </article>
        <article>
            <h1>Module 3</h1>
            <h4> Back-End  <br> Development</h4>
            <div id="subjects">
                <p>Node.js</p>
                <p>Express.js</p>
                <p>MongoDB</p>
            </div>
        </article>
        <article>
            <h1>Module 4</h1>
            <h4> Full-Stack <br> Development</h4>
            <div id="subjects">
                <p>MERN Stack</p>
                <p>RESTful API</p>
            </div>
        </article>
    </section>
    
    <section id="list">
        <div id="phraseTwo">
            <img src="Resources/do_something_great.jpg" alt="">
        </div>
        <div id="listItems">
            <ul>
                <li>Interactive Project-Based Learning</li>
                <li>GitHub Project Portfolio</li>
                <li>1:1 Coaching</li>
                <li>Mock Interviews</li>
                <li>Job Search Support</li>
            </ul>
        </div>
      
    </section>


    <!-- <section id="testimonies">
        <div id="testimonyName">
            <h3>Mikael B.</h3>
        </div>
        <div id="testimonyImage">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhWPoHjjZcbAnMDb_PYZYLEPUffOlA1ks3TUr2vUr7&s" alt="Image of Mikael B.">
        </div>
        <div id="testimonySnapshot">
            <p>"My experince with onboard was great!"</p>
        </div>
    </section> -->

    <section id="moreInfoSignup">
        <h1>Contact us for more information</h1>
        <br>
        <div id="message"></div>
        <form action="/generateLead" method="post">
            <div> 
                <input name="firstName" id="firstName" type="text" placeholder="First Name" required>
            </div>
            <div> 
                <input name="lastName" id="lastName" type="text" placeholder="Last Name" required>
            </div>
            <div>
                <input name="email" id="email" type="email" placeholder="Email address" required>
            </div>
            <div>
                <input name="mobile" id="mobile" type="text" placeholder=" Mobile (xxx-xxx-xxxx)" required>
            </div>
            <div>
                <textarea name="textBox" id="textBox" cols="16" rows="5" placeholder="Drop A Note"></textarea>
            </div>
            <div id="signupBtn">
                <button type="submit">Learn More</button>
            </div>
        </form>
    </section>

    <footer>
        <p>© 2023</p>
        <p>Live The Life You Love</p>
        <p>Developed by Mikael Borneo</p> 
    </footer>
</body>
</html>